
name: "infra preview deploy"
on:
    push:
        branches:
            - main
        paths:
            - 10_infra/**
            - .github/workflows/**
    workflow_dispatch:

permissions:
    contents: read
    id-token: write

env:
    TF_VERSION: 1.5.4

defaults:
    run:
        shell: bash
        working-directory: "10_infra/"

jobs:
    preview:
        name: "Preview"
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Setup terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: ${{ env.TF_VERSION }}
            